/*
light green: #66CD00 102,205,0
dark green: #458b00 69, 139, 0
light red: #FF3030 255,48,48
dark red: #8B0000 139,0,0

*/

progressbar{
	margin: 3px;
}

#info_label{
	margin: 3px;
	padding: 4px;
	background-color: rgba(255,255,255,0.7);
	border-radius: 5px;
}

#background{
	background-image: url('../img/background.png');
	background-size: cover;
}

separator{
	border: 1px solid #777777;
}

#menu{
	background-color: #EEEEEE;
}

button{
	margin: 3px;
}
button.selectable{
	border: 3px solid rgb(102,205,0);
}
button#start_button{
	border-radius: 10px;
	font-family: "Larkspur (BRK)";
	font-size: 32px;
	background-image: image(rgb(69, 139, 0));
}

