/*
light green: #66CD00 102,205,0
dark green: #458b00 69, 139, 0
light red: #FF3030 255,48,48
dark red: #8B0000 139,0,0
light blue:
dark blue: 	0,100,255

*/

progressbar{
	margin: 3px;
}

#info_label{
	margin: 3px;
	padding: 4px;
	background-color: rgba(255,255,255,0.7);
	border-radius: 5px;
}

#background{
	background-image: url('../img/background.png');
	background-size: cover;
}

separator.hor{

	border-top: 2px solid #777777;
	border-bottom: 2px solid #777777;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
}
separator.ver{

	border-left: 2px solid #777777;
	border-right: 2px solid #777777;
	margin-left: 30px;
	margin-right: 30px;
	padding: 5px;
}
seperator.base{
	border-left: 2px solid #777777;
	border-right: 2px solid #777777;
	margin-left: 10px;
	margin-right: 10px;
	padding: 5px;
}

.red{
	border: 2px solid rgb(139,0,0);
}

.blue{
	border: 2px solid rgb(0,100,255);
}


#menu{
	background-color: #EEEEEE;
}

button{
	margin: 3px;
}
#champs:focus{
	border: 5px solid rgb(102,3,205);
}

button#start_button, button#choose_button{
	border-radius: 10px;
	font-family: "Larkspur (BRK)";
	font-size: 32px;
	background-image: image(rgb(69, 139, 0));
}
