progressbar{
	margin: 3px;
}

label#info_label{
	margin: 3px;
	padding: 3px;
	background-color: #FFFFFF;
}

button{
	margin: 3px;
}

#background{
	background-image: url('../img/background.png');
	background-size: cover;
}

separator{
	border: 1px solid #777777;
}

button.selectable{
	border: 3px solid #66CD00;
}

#menu{
	background-color: #EEEEEE;
}

button#start_button{
	border-radius: 15px;
	font-family: "Larkspur (BRK)";
	font-size: 32px;
}
